<div class="container">
  <div class="col">
    <h1>{{title}}</h1>
    <br>

    <form class="form-group row">
      <div class="form-group col-md-4">
        <label class="text-left" for="nombre">Nombre: </label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="cuadroNombre">
      </div>
    </form>

    <form class="form-group row">
      <div class="form-group col-md-4">
        <label class="text-left" for="apellido">Apellido: </label>
        <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control" [(ngModel)]="cuadroApellido">
      </div>
    </form>

    <form class="form-group row">
      <div class="form-group col-md-4">
        <label class="text-left" for="cargo">Cargo: </label>
        <input type="text" name="cargo" id="cargo" placeholder="Cargo" class="form-control" [(ngModel)]="cuadroCargo">
      </div>
    </form>

    <form class="form-group row">
      <div class="form-group col-md-4">
        <label class="text-left" for="salario">Salario: </label>
        <input type="text" name="salario" id="salario" placeholder="Salario" class="form-control" [(ngModel)]="cuadroSalario">
      </div>
    </form>

    <br>

    <form class="form-group row">
      <div class="form-group col-md-4">
        <input type="submit" class="btn btn-primary" (click)="agregarEmpleado()">
      </div>
    </form>

  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col">
      <div *ngFor="let empleado of empleados; let i = index">
        {{i + 1+'.'}} {{empleado.nombre}} {{empleado.apellido}} {{empleado.cargo}} {{empleado.salario}}
      </div>
    </div>
  </div>
</div>