*{
    text-align: center;
}

img{
    width: 300px;
}

button{
    height: 30px;
    width: 150px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
}

#grades_list{
    list-style: none;
    font-weight: bold;
    margin-left: -35px;
    color: red;
}

span{
    color:red;
    font-size: 20px;
}