*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100VH;
    background-color: #2B807B;
    text-align: center;

}

.central-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor{
    height: 220px;
    width: 450px;
    background-color: aliceblue;
    border: 5px solid black;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 10px;
}

#color{
    font-size: 60px;
    font-weight: bold;
}

button{
    font-size: 30px;
    color: white;
    border-radius: 10px;
    background-color: #008CBA;
    margin: 15px;
    padding: 10px 30px;
    border: 3px solid #008CBA;
    user-select: none;
    transition-duration: 1s;
    cursor: pointer;
}

button:hover{
    font-size: 35px;
    background-color: #2B807B;
}

