*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('wood.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor-principal{
    width: 80vh;
    max-width: 600px;
    min-height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}

.contenedor-botones{
    padding: 20px;

}

#cronometro{
    width: 100%;
    font-size: 100px;
    font-weight: bold;
    user-select: none;
    font-family: 'Noto Sans Thai', sans-serif;
}

button{
    width: 80px;
    height: 80px;
    font-size: 50px;
    margin: 15px;
    padding: 15px;
}

#boton-inicio-pausa.iniciar,#boton-inicio-pausa.iniciar i{
    background-color: rgb(34, 174, 64);
}

#boton-inicio-pausa.pausar,#boton-inicio-pausa.pausar i{
    background-color: rgb(255, 246, 127);
}

#boton-reiniciar{
    background-color: red;
}